
.detail-country{

max-width: 60em;
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-between;
}

.detail-country h2{

    font-weight: 800;
    margin: revert;

}

.detail-country p{

    margin: revert;
    font-weight: 600;
    
}

.detail-country span{

    color: var(--Dark-Gray-Light-Mode-Input);
}

.detail-country >img{

width: 100%;

}

.detail-info{

display: flex; 
flex-wrap: wrap;  

}

.borders-container{
    display: flex;
    flex-wrap: wrap;
}

.borders-with-title{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.borders-container >div{

    padding:0.5em 1em ;
    margin: 0 5px;
    box-shadow: var(--boxShadow);

}

@media (min-width:668px){

.detail-country img{

    width: 24em;
}

}